{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- 加载CSS -->
    	<link href="{% static 'blogs_admin/css/style.css' %}" rel="stylesheet" />
    	<link href="{% static 'blogs_admin/css/bootstrap.css' %}" rel="stylesheet" />
    	<link href="{% static 'blogs_admin/css/bootstrap-combined.no-icons.min.css' %}" rel="stylesheet" />
    	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

    	<!-- 新加的CSS -->
    	{% block css %}{% endblock %}

    	<!-- 加载JS:必须放在前面的JS -->
    	{% block js-head %}{% endblock %}
	</head>

	<body>
		<!-- 页头 -->
		{% block head %}{% endblock %}

		<!-- 登录主体 -->
		{% block loginbody %}{% endblock %}

		<!-- 后台主体 -->
		{% block adminbody %}{% endblock %}

		<!-- 页脚 -->
		{% block footer %}
		<div class="footer">
			{{ blog.blog_copyright }}
		</div>
		{% endblock %}

		<!-- 加载JS文件 -->
    	<script src="{% static 'blogs_admin/js/bootstrap.min.js' %}" type="text/javascript"></script>

    	<!-- 加载的js -->
    	{% block js %}
    	{% endblock %}
	</body>
</html>